/* Футер */

.footer {
    padding: 60px 0;

    background-color: var(--special-bg-color);
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer__logo-adress-box {
    min-width: 231px;
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__subscribe {
    margin-left: 93px;
}

.footer__form-title {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white-color);
}