.join {
    margin-left: 70px;
    

}


.join__title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.join__social-link-list {
    justify-content: left;
    margin-top: 20px;
}

.join__social-link {
    background: rgba(255, 255, 255, 0.1);
    color: var(--primary-white-color);
}