:root {
    /* палітра */
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196f3;
    --primary-white-color: #fff;
    --secondary-bg-color: #f5f4fa;
    --special-bg-color: #2f303a;
    --adress-link-color: rgba(255, 255, 255, 0.6);
    --icon-color: #afb1b8;
    --accent-button-color: #188ce8;
    /* шрифти */
    --primary-font-family: 'Roboto';
    --secondary-font-family: 'Raleway';
}